/* --------Colors-------- */

$light: #FFFFFF;
$lightBlue: #00BFF3;
$blue: #1FA2FF;
$dark: #033333;
$grey: #BFBFBF;
$lightGrey: #D0D0D0;

/* text */
$primaryTextColor: $dark;
$lightTextColor: $light;
$colorTextColor: $lightBlue;

/* links */
$linkColor: $lightBlue;

/* forms */
$formFieldsColor: $lightGrey;


/* --------Font-------- */
$primaryFontFamily: 'Raleway', sans-serif;



